html {
    overflow: hidden;
}
#phoneList {
    max-height: 70%;
    overflow-y: overlay;
    overflow-x: hidden;
}
.messages-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    box-shadow: -8px 0px 8px 0px #999
}
#messages {
    overflow: auto;
    margin-right: 15px;
    padding-right:5px;
}
#messages .list-group-item {
background-color:#EEE;
margin-top:10px;
margin-bottom:20px;
margin-right:100px;
}
#messages .list-group-item.me {
text-align:right;
background-color:#CCD;
margin-right:0px;
margin-left:100px;
}
#messages .text-muted {
    font-size: 11px;
}
textarea {
    min-height: 70px;
}
.sendBtn {
    width: calc(100% - 15px);
}
.leftCol {
    background-color:#DDD;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
}